body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
    background: url("https://images.newrepublic.com/9bba0e56c589fb3e06191969202abb446327a86a.jpeg?auto=format&fit=crop&crop=faces&ar=3%3A2&ixlib=react-9.11.0&q=65&w=1400") no-repeat center center fixed;
    background-size: cover;
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(123, 69, 25, 0.8);
    border-radius: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.text-field {
    display: block;
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 2px solid #3a2402;
    border-radius: 10px;
    box-sizing: border-box;
}

.logintitletext {
    text-align: center;
    margin: 0 0 20px 0;
    background: transparent;
    border: none;
    color: #e6ba02;
    font-size: 40px;
}

.text {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #f9f0d6;
}

.btn-style {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: "Times New Roman", serif;
    color: #1f1200;
    font-size: 20px;
    background: #3a2402;
    cursor: pointer;
}

.btn-style:hover {
    background: #f1e200;
    transition: 0.5s;
}

.an-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    background: rgba(123, 69, 25, 0.0);
    text-align: center;
    font-size: 13px;
    color: #f9f0d6;
    text-decoration: none;
    cursor: pointer;
}

.an-button:hover {
    color: #f7a225;
    transition: 0.5s;
}

#register-div {
    display: none;
}

#result-box {
    display: none;
}