* { box-sizing: border-box; font-family: sans-serif; margin: 0; padding: 0; }

.app-container {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
}

/* Sidebar Styling */
.hightlight {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: gray;
    backdrop-filter: brightness(0.8);
    font: bold 30px "Roboto", sans-serif;
    color: white;

}
.sidebar {
    width: 240px;
    background: white;
    border-right: 1px solid #eee;
    padding: 20px;
}

.sidebar li {
    list-style: none;
    padding: 12px;
    color: #666;
    cursor: pointer;
}

.sidebar li.active {
    background: #eef2ff;
    color: #4f46e5;
    border-radius: 8px;
}

/* Dashboard Content */
.content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 30px 0;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #eee;
}

.appointment-item {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
}

.slidebar-test {
    font-family: AppleSystemUIFont;
    font-size: 30px;
    color: black;
}
.status.confirmed { color: green; background: #e6ffed; padding: 4px 8px; border-radius: 5px; font-size: 0.8rem; }

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions button {
    margin-left: 10px;
    padding: 8px 12px;
}
/*for customer module */
.danger {
    background: red;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

.create-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: cornflowerblue;
    color: white;
    padding:8px 12px;
    border-radius: 10px;
}
.edit-button {
    background: gray;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.modal-content {
    background: white;
    width: 300px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchInput {
    padding: 8px 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 220px;
}