* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: url("barber-bg.png") no-repeat;
    background-size: cover;
}

.image-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
}

.center-box{
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(123, 69, 25, 0.8);
    border-radius: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.text-field{
    width: 100%;
    max-width: 400px;
    padding: 12px 15px;
    box-sizing: border-box;
    position: sticky;
    text-align: left;
    margin-bottom: 30px;
    border: 2px solid #3a2402;
    border-radius: 10px;
}
.logintitletext {
    font-family: 'Times', serif;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #e6cba2;
    font-size: 40px;
}

.text{
    font-family: 'Times', serif;
    font-size: 20px;
    color: #f9f8f6;
}

.btn-style{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #f1e2d0;
    font-size: 20px;
    background: #3a2402;
    cursor: pointer;
}

.btn-style:hover{
    background: #f1e2d0;
    color: #b37a25;
    transition: 0.5s;
}

.an-button{
    background-color: rgba(0, 0, 0, 0);;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color:#dbc5a3;
    text-decoration: none;
    border: 0;
}

.an-button:hover{
    color: #b37a25;
    transition: 0.5s;
}

#register-div{
   display: none;
}

#result-box{
    display:none;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    width: 400px;
    padding: 40px;

}

#result-gview{
    display:none;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    color: white

}
